.my-overlay {
    left: 0 !important;
    top: 0 !important;
    z-index: 10000 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: rgba(0,0,0,0.9) !important;
   
    cursor: pointer !important;
    visibility: visible !important;
    transition: visibility 0s, opacity 0.4s linear !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: wait !important;
}
.my-overlay i.fa.fa-spinner.fa-spin, .spinner-big {
    font-size: 50px !important;
}

.show{
    color:white; 
}

// @keyframes spinner {
//     to {transform: rotate(360deg);}
//   }
   
//   .spinner:before {
//     content: '';
//     box-sizing: border-box;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 20px;
//     height: 20px;
//     margin-top: -10px;
//     margin-left: -10px;
//     border-radius: 50%;
//     border: 2px solid #ffffff;
//     border-top-color: #000000;
//     animation: spinner .8s linear infinite;
//   }